* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: coral;
}

ul {
	list-style-type: none;
	overflow: hidden;
	background-color: gray;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	color: white;
}